*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Grid Styling */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-grid {
    margin-top: 2rem;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(10, 1fr);
}

/* These classes will be assigned to tiles dynamically according to their position in the grid from location 1-100 */
.tile-fizz {
    width: 30px;
    height: 30px;
    background: cyan;
}

.tile-buzz {
    width: 30px;
    height: 30px;
    background: yellow;
}

.tile-fizzbuzz {
    width: 30px;
    height: 30px;
    background: magenta;
}

.tile-i {
    width: 30px;
    height: 30px;
    background: #ddd;
}